<div class="social-icons">
  {% if site.footer-links.dribbble %}
  <a href="https://dribbble.com/{{ site.footer-links.dribbble }}" class="social-icon" title="Dribbble">
    <i class="svg-icon dribbble"></i>
  </a>
  {% endif %}
  {% if site.footer-links.email %}
  <a href="mailto:{{ site.footer-links.email }}" class="social-icon" title="Email">
    <i class="svg-icon email"></i>
  </a>
  {% endif %}
  {% if site.footer-links.facebook %}
  <a href="https://www.facebook.com/{{ site.footer-links.facebook }}" class="social-icon" title="Facebook">
    <i class="svg-icon facebook"></i>
  </a>
  {% endif %}
  {% if site.footer-links.flickr %}
  <a href="https://www.flickr.com/{{ site.footer-links.flickr }}" class="social-icon" title="Flickr">
    <i class="svg-icon flickr"></i>
  </a>
  {% endif %}
  {% if site.footer-links.github %}
  <a href="https://github.com/{{ site.footer-links.github }}" class="social-icon" title="GitHub">
    <i class="svg-icon github"></i>
  </a>
  {% endif %}
  {% if site.footer-links.instagram %}
  <a href="https://instagram.com/{{ site.footer-links.instagram }}" class="social-icon" title="Instagram">
    <i class="svg-icon instagram"></i>
  </a>
  {% endif %}
  {% if site.footer-links.linkedin %}
  <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" class="social-icon" title="LinkedIn">
    <i class="svg-icon linkedin"></i>
  </a>
  {% endif %}
  {% if site.footer-links.pinterest %}
  <a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" class="social-icon" title="Pinterest">
    <i class="svg-icon pinterest"></i>
  </a>
  {% endif %}
  {% if site.footer-links.rss %}
  <a href="{{ site.baseurl }}/feed.xml" class="social-icon" title="RSS">
    <i class="svg-icon rss"></i>
  </a>
  {% endif %}
  {% if site.footer-links.twitter %}
  <a href="https://www.twitter.com/{{ site.footer-links.twitter }}" class="social-icon" title="Twitter">
    <i class="svg-icon twitter"></i>
  </a>
  {% endif %}
  {% if site.footer-links.stackoverflow %}
  <a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" class="social-icon" title="StackOverflow">
    <i class="svg-icon stackoverflow"></i>
  </a>
  {% endif %}
  {% if site.footer-links.youtube %}
  <a href="https://youtube.com/{{ site.footer-links.youtube }}" class="social-icon" title="YouTube">
    <i class="svg-icon youtube"></i>
  </a>
  {% endif %}
  {% if site.footer-links.googleplus %}
  <a href="https://plus.google.com/{{ site.footer-links.googleplus }}" class="social-icon" title="Google+">
    <i class="svg-icon googleplus"></i>
  </a>
  {% endif %}
  {% if site.footer-links.strava %}
  <a href="https://www.strava.com/athletes/{{ site.footer-links.strava }}" class="social-icon" title="Strava">
    <i class="svg-icon strava"></i>
  </a>
  {% endif %}
</div>